BACKEND_URL=https://cstudio-be-577666195296.us-central1.run.app
FIREBASE_API_KEY=AIzaSyB5yzey3k_C5FDS3Jmt2GloVBE72Cv8jeM
FIREBASE_AUTH_DOMAIN=creative-studio-demo-481305.firebaseapp.com
FIREBASE_PROJECT_ID=creative-studio-demo-481305
FIREBASE_STORAGE_BUCKET=creative-studio-demo-481305.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=577666195296
FIREBASE_APP_ID=1:577666195296:web:9ca897156c5fcbb27dc805
FIREBASE_MEASUREMENT_ID=G-8F1NZBHKYX
GOOGLE_CLIENT_ID=577666195296-nqm6f8oaq2pnk3o4qjonoavu0t2g0kon.apps.googleusercontent.com
IS_LOCAL=true
PORT=5173
