.reference-images-container {
  background-color: #27272a;
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.drop-zone {
  border: 2px dashed #666;
  border-radius: 8px;
  padding: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    border-color 0.3s,
    background-color 0.3s;
  background-color: #333;

  &:hover {
    border-color: #007bff;
    background-color: #444;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 6px;
  }
}
