.video-container {
  height: 15vh;
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 1rem;

  video {
    margin-top: -15%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .video-container {
    height: 45vh;
  }
}

// 4K Displays
@media screen and (min-width: 2160px) {
  .video-container {
    video {
      margin-top: -10%;
    }
  }
}
